body {
  margin: auto;
  display: grid;
  grid-template-areas: 
    "green green green green green green"
    "yellow yellow red red blue blue"
    "yellow yellow red red blue blue"
    "orange orange orange orange blue blue";
}

#green {
  grid-area: green;
}

#yellow {
  grid-area: yellow;
}

#red {
  grid-area: red;
}

#blue {
  grid-area: blue;
}

#orange {
  grid-area: orange;
}

ul {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}